<!DOCTYPE html>
<style type="text/css">
	#foot_contact ul li{
		font-size: 14px;
		color: #F6F6F6;
	}
	#foot_contact ul li a{
		font-size: 14px;
		color: #F6F6F6!important;
	}
</style>
<div class="footerHelp" style="width:100%;margin:0 auto;">
	<div class="footerBox container-fluid">
		<div class="container-fluid">
			<div id="foot_contact" class="row">
				<ul class="col-xs-6">
					<li class="lititle col-xs-12" style="font-size: 16px;">联系我们</li>
					<li class="short-li col-xs-12">详细地址：苏州工业园区金鸡湖大道99号纳米城西北区10幢301室</li>
					<li class="short-li col-xs-12">电话：0512-62800755</li>
					<li class="short-li col-xs-12">订购邮箱：plasmid_order@sibcb.ac.cn</li>
					<li class="short-li col-xs-12">客服邮箱：plasmid_support@sibcb.ac.cn</li>
					<li class="short-li col-xs-12"><a href="https://www.addgene.com" rel="nofollow">友情链接：www.addgene.com</li>
					<li class="short-li col-xs-12">备案号：苏ICP备20000231号-1</li>
				</ul>
				<div class="col-xs-3 col-xs-offset-3">
					<img style="width: 200px;height: 200px;" src="../../img/qrcode/qrcode.jpg">
				</div>
			</div>
			
			
		</div>
	</div>
</div>
</div>
