<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人信息</title>
		<link rel="stylesheet" href="../../css/common/c2dcefd770cc.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/4fb4e08dbf6b.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/slider.css">
		<link rel="stylesheet" href="../../css/common/animate.min.css">
		<link href="../../css/common/style.css" rel="stylesheet" type="text/css">
		<!-- <link rel="stylesheet" href="../../css/common/layer.css" id="layuicss-skinlayercss">
		<link rel="stylesheet" href="../../css/common/layui.css" type="text/css"> -->
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css"/>
		<link rel="stylesheet" href="../../css/common/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/util/jump.css"/>
		<script src="../../js/util/jump.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.uc-nav .un-list li a {
				height: 36px;
				line-height: 36px;
			}

			.uc-nav .un-list li a {
				background-position: 40px -45px;
			}

			.uc-nav .un-list li.cur a {
				background-position: 40px -45px;
				color: #0483c8;
			}

			.uc-nav .un-list li a:hover {
				background-position: 40px -45px;
				color: #0483c8;
				text-decoration: none;
			}

			.login_tab {
				height: 44px;
				padding: 10px 30px;
				text-align: center;
				font-size: 16px;
				background: #0084cb;
				color: #fff;
			}
			#loginContent{
				padding-top: 3%;
			}
		</style>

	</head>
	<body>
		<header id="hd"></header>
		<div class="block box">
			<div id="ur_here">
				<div class="block box">
					<div id="ur_here">当前位置: <a href="../index/index.html">首页</a>个人信息</div>
				</div>
			</div>
		</div>
		<div class="block clearfix" style="width:1200px;margin:0 auto;overflow:hidden;">
			<div id="left-part" class="AreaL user_AreaL" style="width: 16%;float:left;"></div>
			<div class="AreaR user_AreaR" style="width:82.5%;float:right;">
				<div class="box">
					<div class="box_1">
						<div class="userCenterBox boxCenterList clearfix usBox  panel panel-default" style="_height:1%;">
							<h5 class="user_title" style="height: 44px;line-height: 44px;"><span>个人资料</span></h5>
							<form class="form-horizontal" id="loginContent">
								<div class="form-group">
									<label for="inputUserName" class="col-sm-3 control-label">用户名：</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="userName" id="userName" placeholder="username">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-3 control-label">密码：</label>
									<div class="col-sm-7">
										<input type="password" class="form-control" name="password" id="password" placeholder="password">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-3 control-label">确认密码：</label>
									<div class="col-sm-7">
										<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="password">
									</div>
								</div>
								<div class="form-group">
									<label for="inputUserName" class="col-sm-3 control-label">地区：</label>
									<div class="col-sm-7">
										<select class="form-control" id="area" name="area">
											<option value="中国">中国</option>
											<option value="海外">海外</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="inputUserName" class="col-sm-3 control-label">机构：</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="institute" id="institute" placeholder="institute">
									</div>
								</div>
								<div class="form-group">
									<label for="inputUserName" class="col-sm-3 control-label">机构类型：</label>
									<div class="col-sm-7">
										<select class="form-control" name="organization_type">
											<option value="0">科研院所/非盈利</option>
											<option value="1">公司</option>
										</select>
									</div>
								</div>
								<!-- <div class="form-group">
									<label for="inputUserName" class="col-sm-3 control-label">负责人：</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="lab_leader" id="labLeader" placeholder="pileader">
									</div>
								</div> -->
								<div class="form-group" role="group">
									<div class="col-sm-3 col-sm-offset-4">
										<button id="confirmSubmit" type="button" class="btn btn-default" >确认修改</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="footer" id="ft"></div>

	</body>
	<script type="text/javascript" src="../../js/common/jquery-1.11.3.min.js"></script>
	<script src="../../layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/common/jquery.json.js"></script>
	<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/common/bootstrap.js"></script>
	<script type="text/javascript" src="../../js/common/transport_jquery.js"></script>
	<script type="text/javascript" src="../../js/common/utils.js"></script>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script type="text/javascript" src="../../js/common/global.js"></script>
	<script type="text/javascript" src="../../js/common/compare.js"></script>
	<!-- <script src="../../js/common/layer.js"></script>
	<script src="../../js/common/layui.js"></script> -->
	<script src="../../js/components/components.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/user/user.js" type="text/javascript" charset="utf-8"></script>
</html>
