<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
		<title>响应式</title>
		<!-- <link rel="stylesheet" href="../../css/common/bootstrap.css" type="text/css"> -->
		<link rel="stylesheet" href="../../css/common/c2dcefd770cc.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/bootstrap.css" type="text/css">
	</head>
	<style type="text/css">
		.container{
			width: 100%;
		}
	</style>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
				<div class="col-md-1">.col-md-1</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-8">.col-md-8</div>
				<div class="col-md-4">.col-md-4</div>
			</div>
			<div class="row">
				<div class="col-md-4">.col-md-4</div>
				<div class="col-md-4">.col-md-4</div>
				<div class="col-md-4">.col-md-4</div>
			</div>
			<div class="row">
				<div class="col-md-6">.col-md-6</div>
				<div class="col-md-6">.col-md-6</div>
			</div> -->
		</div>
		

	</body>
	
	 <script type="text/javascript" src="../../js/common/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/common/jquery.json.js"></script>
	<script type="text/javascript" src="../../js/common/bootstrap.js"></script> 
</html>
