<div class="panel panel-info need-help-contact-us">
	<div class="panel-heading"><strong>分享指南</strong></div>
	<div class="panel-body">
		<ul>
			<li style="height:36px;line-height:36px;">
				<a style="float:left;" href="http://jiyin.org/article-57.html" title="登录与修改密码">登录与修改密码</a>
				<span style="float:right;">2017-12-28</span>
			</li>
			<li style="height:36px;line-height:36px;">
				<a style="float:left;" href="http://jiyin.org/article-56.html" title="注册与信息完善">注册与信息完善</a>
				<span style="float:right;">2017-12-28</span>
			</li>
			<li style="height:36px;line-height:36px;">
				<a style="float:left;" href="http://jiyin.org/article-55.html" title="隐私声明">隐私声明</a>
				<span style="float:right;">2017-12-28</span>
			</li>
			<li style="height:36px;line-height:36px;">
				<a style="float:left;" href="http://jiyin.org/article-54.html" title="产品保障与联系我们">产品保障与联系我们</a>
				<span style="float:right;">2017-12-28</span>
			</li>
			<li style="height:36px;line-height:36px;">
				<a style="float:left;" href="http://jiyin.org/article-53.html" title="用户协议">用户协议</a>
				<span style="float:right;">2017-12-27</span>
			</li>
			<li style="height:36px;line-height:36px;">
				<a style="float:left;" href="http://jiyin.org/article-52.html" title="材料邮寄与验证">材料邮寄与验证</a>
				<span style="float:right;">2017-12-27</span>
			</li>
			<li style="height:36px;line-height:36px;">
				<a style="float:left;" href="http://jiyin.org/article-51.html" title="负责人认证">负责人认证</a>
				<span style="float:right;">2017-12-27</span>
			</li>
			<li style="height:36px;line-height:36px;">
				<a style="float:left;" href="http://jiyin.org/article-50.html" title="积分系统">积分系统</a>
				<span style="float:right;">2017-12-27</span>
			</li>
		</ul>
	</div>
</div>
