<div class="panel panel-default" style="overflow:hidden;">
	<div class="panel-heading">
		<div class="row row-vertically-centered">
			<h1>
				<span class="material-name">pEGFP</span>
				<small>（分享ID：<span id="addgene-item-id">1000004</span>)</small>
			</h1>
		</div>
	</div>
	<form action="javascript:addToCart(141)" method="post" name="ECS_FORMBUY" id="ECS_FORMBUY">
		<div id="goodsInfo" class="clearfix">
			<div style="overflow: hidden;">
				<div class="imgInfo">
					<a href="./step5_files/saved_resource" id="zoom1" class="MagicZoom MagicThumb" title="" style="display: inline-block;">
						<img src="./step5_files/saved_resource" alt="" style="max-width: 325px;max-height: 205px;">
					</a>
					<div style="text-align: center;margin-top: 20px;height: 18px;">
						<span style="font-size: 12px;color: #ccc;border: 1px solid #eee;padding: 2px 8px;">点击图片放大</span>
					</div>
					<ul id="sequence-maps-nav" class="nav nav-pills" style="display: inline-block;height:100px;">
					</ul>
				</div>
				<div class="textInfo material-properties">
					<div class="list-unstyled">
						<ul class="clearfix" id="plasmid-description-list">
							<li class="clearfix" style="width:100%">
								<div class="field">
									<div class="field-label">
										<font>质粒描述</font>
									</div>
									<div class="field-content">哺乳动物EGFP</div>
								</div>
							</li>
							<li>
								<div class="field">
									<div class="field-label">序列信息</div>
									<div class="field-content">
										<span style="color:#337ab7;cursor:pointer;" onclick="file_click(&#39;#bb&#39;)">分享者添加的序列信息</span>
									</div>
								</div>
							</li>
							<li>
								<div class="field">
									<div class="field-label">相关文件</div>
									<div class="field-content">
										<span style="color:#337ab7;cursor:pointer;" onclick="file_click(&#39;#aa&#39;)">分享者分享的相关文件</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="box" style="overflow:hidden;">
		<div style="padding:0 0px;">
			<div id="com_b" class="tj_history clearfix">
				<h2 style="cursor: pointer;" class="active">载体信息
					<div class="jb"></div>
				</h2>
				<h2 class="h2bg" style="cursor: pointer;">载体图谱
					<div class="jb"></div>
				</h2>
				<h2 class="h2bg" style="cursor: pointer;" id="bb">载体序列
					<div class="jb"></div>
				</h2>
				<h2 class="h2bg" style="cursor: pointer;" id="aa">相关文件
					<div class="jb"></div>
				</h2>
			</div>
		</div>
		<div class="box_1">
			<div id="com_v" style="padding:6px;">
				<div class="col-xs-6" style="padding:0px 20px;color:#333333;font-family:&#39;Helvetica Neue&#39;, HelveticaNeue, &#39;Liberation Sans&#39;, Arimo, Helvetica, Arial, sans-serif, dejavu_sans, Symbola;font-size:14px;background-color:#FFFFFF;">
					<h2 style="height:30px;line-height:30px;font-family:inherit;color:#EF6422;font-size:14px;text-align:left;">
						<span class="title"><span style="color:#337FE5;font-size:18px;">载体骨架信息</span>
						</span>
					</h2>
					<ul class="list-unstyled">
					</ul>
					<h2 style="height:30px;line-height:30px;font-family:inherit;color:#EF6422;font-size:14px;text-align:left;">
						<span class="title"><span style="color:#337FE5;font-size:18px;">原核培养信息</span>
						</span>
					</h2>
					<ul class="list-unstyled">
					</ul>
				</div>
				<div class="col-xs-6" style="padding:0px 20px; color:#333333;font-family:&#39;Helvetica Neue&#39;, HelveticaNeue, &#39;Liberation Sans&#39;, Arimo, Helvetica, Arial, sans-serif, dejavu_sans, Symbola;font-size:14px;background-color:#FFFFFF;">
					<h2 style="height:30px;line-height:30px;font-family:inherit;color:#EF6422;font-size:14px;text-align:left;">
						<span class="title"><span style="color:#337FE5;font-size:18px;">
								插入基因</span>
						</span>
					</h2>
					<ul class="list-unstyled">

					</ul>

					<h2 style="height:30px;line-height:30px;font-family:inherit;color:#EF6422;font-size:14px;text-align:left;">
						<span class="title"><span style="color:#337FE5;font-size:18px;">插入基因克隆信息</span></span>

					</h2>
				</div>
			</div>
			<div id="com_h" class="none">
				<blockquote>
					<div class="col-xs-6" style="padding:0px 20px;color:#333333;font-family:&#39;Helvetica Neue&#39;, HelveticaNeue, &#39;Liberation Sans&#39;, Arimo, Helvetica, Arial, sans-serif, dejavu_sans, Symbola;font-size:14px;background-color:#FFFFFF;">
						<h2 style="height:30px;line-height:30px;font-family:inherit;color:#EF6422;font-size:14px;text-align:left;">
							<span class="title"><span style="color:#337FE5;font-size:18px;">载体骨架信息</span>
							</span>
						</h2>
						<ul class="list-unstyled">
						</ul>
						<h2 style="height:30px;line-height:30px;font-family:inherit;color:#EF6422;font-size:14px;text-align:left;">
							<span class="title"><span style="color:#337FE5;font-size:18px;">原核培养信息</span>
							</span>
						</h2>
						<ul class="list-unstyled">
						</ul>
					</div>
					<div class="col-xs-6" style="padding:0px 20px; color:#333333;font-family:&#39;Helvetica Neue&#39;, HelveticaNeue, &#39;Liberation Sans&#39;, Arimo, Helvetica, Arial, sans-serif, dejavu_sans, Symbola;font-size:14px;background-color:#FFFFFF;">
						<h2 style="height:30px;line-height:30px;font-family:inherit;color:#EF6422;font-size:14px;text-align:left;">
							<span class="title"><span style="color:#337FE5;font-size:18px;">
									插入基因</span>
							</span>
						</h2>
						<ul class="list-unstyled">

						</ul>

						<h2 style="height:30px;line-height:30px;font-family:inherit;color:#EF6422;font-size:14px;text-align:left;">
							<span class="title"><span style="color:#337FE5;font-size:18px;">插入基因克隆信息</span></span>

						</h2>
					</div>
				</blockquote>
				<blockquote>
					<ul>
					</ul>
				</blockquote>
				<blockquote>
				</blockquote>
				<blockquote>
					<div class="view-content">
						<div class="item-list">
							<ul style="overflow:hidden;">
							</ul>
						</div>
					</div>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<ul class="list-inline edit-plasmid-save-buttons">
	<li>
		<input name="share_id" type="hidden" value="10030">
		<input type="hidden" name="plasmid_type" value="Encodesoneinsert">
		<a class="btn btn-primary" href="http://jiyin.org/user.php?act=one_plasmid">申请分享质粒</a>
	</li>
	<li>
		<a class="btn btn btn-danger" href="http://jiyin.org/user.php?act=shared_plasmid">添加新质粒</a>
	</li>
</ul>
