<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>发票信息</title>
		<link rel="stylesheet" href="../../css/common/c2dcefd770cc.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/4fb4e08dbf6b.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/slider.css">
		<link rel="stylesheet" href="../../css/common/animate.min.css">
		<link href="../../css/common/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../../css/common/layer.css" id="layuicss-skinlayercss">
		<link rel="stylesheet" href="../../css/common/layui.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/qq.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/util/jump.css"/>
		<script src="../../js/util/jump.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.uc-nav .un-list li a {
				height: 36px;
				line-height: 36px;
			}
					
			.uc-nav .un-list li a {
				background-position: 40px -45px;
			}
					
			.uc-nav .un-list li.cur a {
				background-position: 40px -45px;
				color: #0483c8;
			}
					
			.uc-nav .un-list li a:hover {
				background-position: 40px -45px;
				color: #0483c8;
				text-decoration: none;
			}
					
			.login_tab {
				height: 44px;
				padding: 10px 30px;
				text-align: center;
				font-size: 16px;
				background: #0084cb;
				color: #fff;
			}
		</style>
	</head>
	<body>
		<header id="hd"></header>
		<div class="block box">
			<div id="ur_here">
				<div class="block box">
					<div id="ur_here">当前位置: <a href="../index/index.html">首页</a> 发票信息</div>
				</div>
			</div>
		</div>
		<div class="block clearfix" style="width:1200px;margin:0 auto;overflow:hidden;">
			<div id="left-part" class="AreaL user_AreaL" style="width:16%;float:left;"></div>
			<div class="AreaR user_AreaR" style="width:82.5%;float:right;">
				<div class="box">
					<div class="box_1">
						<div class="userCenterBox boxCenterList clearfix usBox  panel panel-default" style="_height:1%;">
							<div class="invoice">
								<h5 class="user_title" style="height:44px;line-height:44px;"><strong><span>发票信息</span></strong></h5>
								<form id="invoiceContent" class="user_self">
									<table border="0" cellpadding="5" width="100%" cellspacing="1" bgcolor="#dddddd">
										<tbody>
											<tr>
												<td bgcolor="#FFFFFF" class="left"><em class="red">*</em><strong>发票抬头：</strong></td>
												<td bgcolor="#FFFFFF">
													<input id="title" name="title" value="" type="text" size="25" id="check_fptt" class="inputBg" >
													<span id="is_fptt" style="color:#FF0000"></span>
												</td>
											</tr>
											<tr>
												<td bgcolor="#FFFFFF" class="left"><em class="red">*</em><strong>纳税人识别号：</strong></td>
												<td bgcolor="#FFFFFF">
													<input id="taxpayer_number" name="taxpayer_number" value="" type="text" size="25" id="check_nsrsbh" class="inputBg" >
													<span id="is_nsrsbh" style="color:#FF0000"></span>
												</td>
											</tr>
											<tr>
												<td>
													<strong>&ensp;&ensp;是否开具专业发票：</strong>
													<input name="need_pro_inv" id="isProfessionalInvoiceNeeded" type="checkbox" class="input" value="" checked="">
												</td>
											</tr>
											<tr>
												<td bgcolor="#FFFFFF" class="left"><em class="red">*</em><strong>注册地址：</strong></td>
												<td bgcolor="#FFFFFF">
													<input id="regist_address" name="regist_address" value="" type="text" size="25" class="inputBg">
												</td>
											</tr>
											<tr>
												<td bgcolor="#FFFFFF" class="left"><em class="red">*</em><strong>注册电话：</strong></td>
												<td bgcolor="#FFFFFF"><input id="regist_phone" name="regist_phone" value="" type="text" size="25" class="inputBg"></td>
											</tr>
											<tr>
												<td bgcolor="#FFFFFF" class="left"><em class="red">*</em><strong>开户银行：</strong></td>
												<td bgcolor="#FFFFFF"><input id="open_bank" name="open_bank" value="" type="text" size="25" class="inputBg"></td>
											</tr>
											<tr>
												<td bgcolor="#FFFFFF" class="left"><em class="red">*</em><strong>开户账号：</strong></td>
												<td bgcolor="#FFFFFF"><input id="open_account" name="open_account" value="" type="text" size="25" class="inputBg"></td>
											</tr>
											<input type="hidden" name="id" value="" />
											<tr id="submitButton">
												<td colspan="2" bgcolor="#FFFFFF" style="text-align: center;height: 130px;">
													<!-- <input name="act" type="hidden" value="act_invoice_information"> -->
													<!-- <input onclick="submitModifyInvoice()" name="submit" type="button" class="btn btn-primary" style="border:none;height: 34px;width: 95px;" value="确认修改"> -->
													<input name="submit" type="button" class="btn btn-primary" style="border:none;height: 34px;width: 95px;" value="添加/修改">
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer" id="ft"></div>

	</body>
	<script type="text/javascript" src="../../js/common/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/common/jquery.json.js"></script>
	<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/common/bootstrap.js"></script>
	<script type="text/javascript" src="../../js/common/transport_jquery.js"></script>
	<script type="text/javascript" src="../../js/common/utils.js"></script>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script type="text/javascript" src="../../js/common/global.js"></script>
	<script type="text/javascript" src="../../js/common/compare.js"></script>
	<script src="../../js/common/layer.js"></script>
	<script src="../../js/common/layui.js"></script>
	<script src="../../js/components/components.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/invoice/invoice.js" type="text/javascript" charset="utf-8"></script>
</html>
