<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../css/common/c2dcefd770cc.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/4fb4e08dbf6b.css" type="text/css">
		<link rel="stylesheet" href="../../css/common/slider.css">
		<link rel="stylesheet" href="../../css/common/animate.min.css">
		<link href="../../css/common/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../../css/common/layer.css" id="layuicss-skinlayercss">
		<link rel="stylesheet" href="../../css/common/layui.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../css/common/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/util/jump.css"/>
		<script src="../../js/util/jump.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header id="hd"></header>
		<div class="block box">
			<div id="ur_here">
				<div class="block box">

					<div id="ur_here">
						当前位置: <a href="../index/index.html">首页</a> 提交订单</div>
				</div>
			</div>
		</div>
		<div class="block">
			<div class="flowBox" style="margin:30px auto 10px auto;" id="ECS_SUCCESS">
				<div class="order_pay_con">
					<div class="op_content content_1">
						<div class="op_content_t" style="background-color: #fef9f1">
							<div style="float: left">
								<p class="supposed-pay"><i class="sprite-yes-s-solid"></i><strong>订单已提交，我们会通过邮件及时与您联系，请注意查收！</strong></p>
							</div>
						</div>
						<div id="payInfo" style="display: inline-block;">
							<span class="info-title" style="margin: 28px 75px 20px;">
								<strong>订单信息</strong>
							</span>
							<p class="info-num">订单编号：
								<span id="orderId" class="ng-binding"></span>
							</p>
							<p class="info-addr">收货地址：
								<span id="addressDetail"></span>
							</p>
							<!-- <p class="bill-type">发票类型：
								<span  class="ng-binding" id="invoiceType"></span>
							</p> -->
							<p class="bill-type">发票抬头：
								<span class="ng-binding" id="invoiceTitle"></span>
							</p>
							<p class="bill-type">纳税人识别号：
								<span  class="ng-binding" id="taxNumber"></span>
							</p>
						</div>
					</div>
					<div class="op_content_ptype bill-pay">
						<div style="float: left">
							<span class="yf-money"><strong>应付金额：</strong><strong id="shouldPay" style="color: #e71f0b;" class="pay_price ng-binding"></strong></span>
						</div>
					</div>
				</div>
				<div class="payment-bottom" style=" margin: 50px 0px 30px; overflow: hidden;">
					<ul style="width: 800px;margin: 0 auto;">
						<li style="float:left;width:33%;text-align:center;font-size:18px;"><i class="sprite-ico-yhzx"></i><a href="../user/user_info.html">进入用户中心</a></li>
						<li style="float:left;width:33%;text-align:center;font-size:18px;"><i class="sprite-ico-jyk"></i><a href="../plasmid/plasmid_list.html">进入质粒载体库</a></li>
						<li style="float:left;width:33%;text-align:center;font-size:18px;"><i class="sprite-ico-cjwt"></i><a href="../questions/distribute_info.html">进入质粒分发</a></li>
						
					</ul>
				</div>
			</div>


		</div>
		<div class="footer" id="ft"></div>
	</body>
	<script type="text/javascript" src="../../js/common/jquery-1.11.3.min.js"></script>
	<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
	<!-- <script type="text/javascript" src="../../js/common/suggest.js"></script> -->
	<script type="text/javascript" src="../../js/common/jquery.json.js"></script>
	<script type="text/javascript" src="../../js/common/bootstrap.js"></script>
	<script type="text/javascript" src="../../js/common/transport_jquery.js"></script>
	<script src="../../js/common/layer.js"></script>
	<script src="../../js/common/layui.js"></script>
	<script src="../../js/common/cookie.js"></script>
	<script src="../../js/components/components.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/laypage/laypage.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/order/order_submit.js" type="text/javascript" charset="utf-8"></script>
</html>
